node red.json
[{"id":"a0356023.5f3e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d6671095.f790b","type":"inject","z":"a0356023.5f3e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84.88888931274414,"y":101.4444465637207,"wires":[["6462ae18.36947"]]},{"id":"5c4fd185.cbb01","type":"debug","z":"a0356023.5f3e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":711,"y":228,"wires":[]},{"id":"6462ae18.36947","type":"function","z":"a0356023.5f3e6","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"9c7faa1b-a3b6-4922-9bb1-60c5838c1805\"\nvar password=\"9b30ee33-cbc5-4f2e-a445-77496069a3a6\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpg\",msg.payload.dpg)\nglobal.set(\"a\",msg.payload.a)\nreturn msg;","outputs":1,"noerr":0,"x":191,"y":336,"wires":[["c7449064.4a6ef"]]},{"id":"c7449064.4a6ef","type":"http request","z":"a0356023.5f3e6","name":"http get","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":389,"y":472,"wires":[["eab7a213.d9dff","72ef2ecb.a7dfb"]]},{"id":"eab7a213.d9dff","type":"function","z":"a0356023.5f3e6","name":"prediction","func":"var token=msg.payload.token;\nvar g=global.get(\"g\");\nvar i=global.get(\"i\");\nvar bp=global.get(\"bp\");\nvar bmi=global.get(\"bmi\");\nvar dpg=global.get(\"dpg\");\nvar a=global.get(\"a\");\nmsg.payload={\"fields\":[\"Glucose\",\"Insulin\",\"BloodPressure\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"],\"values\":[[g,i,bp,bmi,dpg,a]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":112,"wires":[["e7d4ee0a.38f89"]]},{"id":"e7d4ee0a.38f89","type":"http request","z":"a0356023.5f3e6","name":"http post","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/980f4b12-28c4-4f9b-a0e5-2e902a4f82d5/deployments/88072875-3416-46c3-ba8a-43f050005746/online","tls":"","proxy":"","authType":"basic","x":476,"y":179,"wires":[["5c4fd185.cbb01","7b906f55.ad007"]]},{"id":"7b906f55.ad007","type":"function","z":"a0356023.5f3e6","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":481,"y":47,"wires":[["f6a3d34f.ad536"]]},{"id":"72ef2ecb.a7dfb","type":"debug","z":"a0356023.5f3e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":651,"y":432,"wires":[]},{"id":"3755734c.bdcdbc","type":"ui_form","z":"a0356023.5f3e6","name":"","label":"","group":"6402ee70.6dc67","order":0,"width":0,"height":0,"options":[{"label":"Glucose","value":"g","type":"number","required":true},{"label":"Insulin","value":"i","type":"number","required":true},{"label":"Blood Pressure","value":"bp","type":"number","required":true},{"label":"BMI","value":"bmi","type":"number","required":true},{"label":"DiabetesPedigreeFunction","value":"dpg","type":"text","required":true},{"label":"Age","value":"a","type":"text","required":true}],"formValue":{"g":"","i":"","bp":"","bmi":"","dpg":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":65,"y":565,"wires":[["6462ae18.36947","e92d8fa5.1196c","185536f.83798c9","a7de3bcf.594888","b26f85ff.8ca908","a9a00885.b0a6d8","7c14d51a.30e7bc"]]},{"id":"e92d8fa5.1196c","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":1,"width":0,"height":0,"name":"","label":"Glucose","format":"{{msg.payload.g}}","layout":"row-spread","x":277,"y":523,"wires":[]},{"id":"e014c11e.c50a8","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":685,"y":135,"wires":[]},{"id":"185536f.83798c9","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":3,"width":0,"height":0,"name":"","label":"Insulin","format":"{{msg.payload.i}}","layout":"row-spread","x":277,"y":566,"wires":[]},{"id":"a7de3bcf.594888","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":4,"width":0,"height":0,"name":"","label":"Blood Pressure","format":"{{msg.payload.bp}}","layout":"row-spread","x":300,"y":606,"wires":[]},{"id":"b26f85ff.8ca908","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":5,"width":0,"height":0,"name":"","label":"BMI","format":"{{msg.payload.bmi}}","layout":"row-spread","x":282,"y":646,"wires":[]},{"id":"a9a00885.b0a6d8","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":6,"width":0,"height":0,"name":"","label":"DiabetesPedigreeFunction","format":"{{msg.payload.dpg}}","layout":"row-spread","x":364,"y":691,"wires":[]},{"id":"7c14d51a.30e7bc","type":"ui_text","z":"a0356023.5f3e6","group":"6402ee70.6dc67","order":7,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload.a}}","layout":"row-spread","x":297,"y":735,"wires":[]},{"id":"f6a3d34f.ad536","type":"switch","z":"a0356023.5f3e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":622,"y":33,"wires":[["7626dfbd.059e6"],["e25bed1.da2831"]]},{"id":"7626dfbd.059e6","type":"template","z":"a0356023.5f3e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Diabetics","output":"str","x":759,"y":45,"wires":[["e014c11e.c50a8"]]},{"id":"e25bed1.da2831","type":"template","z":"a0356023.5f3e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"No Diabetics","output":"str","x":744,"y":85,"wires":[["e014c11e.c50a8"]]},{"id":"6402ee70.6dc67","type":"ui_group","z":"","name":"Home","tab":"27ce0ee7.b8d032","disp":true,"width":"6","collapse":false},{"id":"27ce0ee7.b8d032","type":"ui_tab","z":"","name":"prediction","icon":"dashboard","disabled":false,"hidden":false}]